{:paths ["src"]
 :deps {io.github.kotoba-lang/sgp4 {:local/root "../../kotoba-lang/sgp4"}
        io.github.kotoba-lang/com-mapillary-graph-api
        {:git/url "https://github.com/kotoba-lang/com-mapillary-graph-api"
         :git/sha "c59e2be70759e4593a589e476434064b7775a75e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
